.application_content {
  color: $color-dark;
  margin-bottom: 12em;
  .form_title {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    h2 {
      width: 100%;
      text-align: center;
      font-size: 1.65em;
      color: $color-brown;
    }
    p {
      margin-top: 0;
      font-weight: 800;
      margin-left: -0.5em;
      color: $color-word;
    }
  }

  .application_form {
    &::before {
      content: "";
      background: url(~@/assets/images/img/form_leaf.png) right no-repeat;
      width: 100%;
      height: 412px;
      position: absolute;
      right: 0;
      top: 0;
    }
    width: 90%;
    margin: 0 auto;
    h3 {
      color: $color-word;
      margin-bottom: 0.6em;
      margin-left: 0.5em;
    }
    .form_grid {
      border-top: 3px solid $color-word;
      .form_title {
        justify-content: flex-end;
        margin-top: 0.5em;
        padding-right: 0;
        color: $coloe-form-title;
        font-weight: 800;
        @include screen("mobile") {
          justify-content: flex-start;
        }
      }
      .form_content {
        .radio_grp {
          padding: 0;
        }
      }
      select {
        height: 43px;
      }
      .form_col-3-5-4 {
        input {
          height: 43px;
        }
        input[type="tel"] {
          @include screen("xs_mobile") {
            flex-basis: 20%;
          }
        }
        input[type="tel"]:nth-child(2) {
          @include screen("xs_mobile") {
            flex-basis: calc(35% - 0.6em);
          }
        }
        input[type="tel"]:last-child {
          @include screen("xs_mobile") {
            flex-basis: calc(100% - (55% + 1.2em));
          }
        }
      }
      .form_col-6-6 {
        span {
          margin-left: 0.3em;
        }
        input {
          height: 43px;
        }
        .calendar_div {
          border: 1px solid #ccc;
          background: #fff;
          flex-basis: calc(50% - 0.6em);
          height: 43px;
          margin: 0.3em;
          border-radius: 0.2em;
        }
        button {
          flex-basis: calc(90% - (65% + 1.2em));
          color: $coloe-form-title;
          height: 43px;
          font-weight: 800;
          &:hover {
            background-color: $color-brown;
            color: #fff;
          }
          &:focus {
            outline: none;
            border: 2px solid lighten($form-focus, 20);
          }

          @media (max-width: 860px) {
            flex-basis: calc(100% - (65% + 1.2em));
          }
          @include screen("xs_mobile") {
            flex-basis: calc(50% - 1.2em);
          }
        }
      }
    }
    .last-input {
      border-bottom: none;
      padding-bottom: 2em;
      border-bottom: 2px solid $color-word;
    }
  }
}
