//header
.header {
  position: relative;
  z-index: 99;
  // border: 5px solid red;
  //box-shadow: 0px 2px 5px RGBA(0, 0, 0, 0.3);
  @extend %clearfix;
  @include screen("mobile") {
    width: 100%;
  }

  .accesskey {
    color: #fff;
  }
  // mobile btn for extend
  %mobileCtrlBtn {
    width: 60px !important;
    height: 60px !important;
    position: absolute;
    top: 0px;
    display: block;
    font-size: 0em;
    padding: 15px;
    margin: 0;
    min-width: auto;
    min-height: auto;
    background: transparent;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    @include screen("mobile") {
      display: block !important;
    }
  }
  > .container {
    max-width: $container-max;
    overflow: visible;
    position: relative; // menu
    background-image: url(~@/assets/images/img/logo_banner_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 48em;
    background-color: #0b844f;

    @media (max-width: 1100px) {
      height: 45em;
    }
    @media (max-width: 1024px) {
      height: 43em;
    }
    @media (max-width: 425px) {
      height: 33em;
    }

    .sidebarCtrl {
      display: none;
      left: 0px;
      @extend %mobileCtrlBtn;
      span {
        position: absolute;
        background: $primaryColor;
        width: 50%;
        height: 3px;
        top: 20px;
        left: 50%;
        margin-left: -25%;
        display: block;
        &:nth-child(2) {
          top: 28px;
        }
        &:nth-child(3) {
          top: 36px;
        }
      }
    }
    .subtitle {
      background-image: url(~@/assets/images/img/subtitle_bg.png);
      bottom: -2px;
      justify-content: center;
      width: 100%;
      display: flex;
      position: absolute;
      background-size: 100%;
      background-position-y: bottom;
      background-repeat: no-repeat;

      &::before {
        content: "";
        background-image: url(~@/assets/images/img/banner_bird_.png);
        width: 500px;
        height: 697px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        top: -450px;
        left: 0;
        @media (max-width: 1024px) {
          width: 425px;
          height: 550px;
          top: -371px;
        }

        @include screen("tablet") {
          width: 396px;
          height: 514px;
          top: -351px;
        }
        @include screen("mobile") {
          width: 321px;
          height: 443px;
          top: -263px;
        }
        @media (max-width: 750px) {
          width: 280px;
          height: 366px;
        }
        @media (max-width: 625px) {
          width: 260px;
          height: 341px;
        }
        @media (max-width: 560px) {
          top: -240px;
        }
        @include screen("xs_mobile") {
          width: 220px;
          height: 278px;
        }
        @media (max-width: 425px) {
          top: -192px;
        }
      }
      p {
        width: 70%;
        color: #fff;
        font-size: 1.2em;
        line-height: 2.2em;
        letter-spacing: 0.1em;
        padding-bottom: 6%;
        span {
          display: block;
          @media (max-width: 1024px) {
            display: inline;
          }
        }
        @media (max-width: 1100px) {
          padding-right: 10%;
        }
        @media (max-width: 1024px) {
          width: 60%;
        }
        @include screen("mobile") {
          padding-right: 0;
          padding-bottom: 18%;
        }
        @media (max-width: 425px) {
          font-size: 1em;
        }
      }
    }
    // search
    .searchCtrl {
      display: none;
      right: 0px;
      font-size: 0em;
      @extend %mobileCtrlBtn;
      &:before {
        width: 40px;
        height: 40px;
        background: url(~@/assets/images/basic/icon_search.png) no-repeat center
          center;
        background-size: 28px;
        opacity: 0.6;
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        display: block;
      }
    }
  }
  h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: 15%; //15rem;
    margin-top: 6%; //2rem;
    box-sizing: border-box;
    a {
      display: inline-block;
    }
    img {
      display: block;
      position: relative;
      z-index: 99;
    }
  }
  // 導覽列
  .navigation {
    a {
      color: #fff;
      position: absolute;
      right: 2rem;
      top: 3rem;
      letter-spacing: 0.2rem;
      @media (max-width: 464px) {
        top: 1rem;
      }
    }
  }
}
